src/main/mule/ciena-cmas-ebs-tca-accounts-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="ciena-cmas-ebs-tca-accounts-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="9100" />
    </http:listener-config>
    <apikit:config name="ciena-cmas-ebs-tca-accounts-sapi-config" api="resource::ee7d8540-54d7-43cb-bc6e-d70fc68d3799:ciena-cmas-ebs-tca-accounts-sapi:1.0.1:raml:zip:ciena-cmas-ebs-tca-accounts-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ciena-cmas-ebs-tca-accounts-sapi-main">
        <http:listener config-ref="ciena-cmas-ebs-tca-accounts-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ciena-cmas-ebs-tca-accounts-sapi-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="ciena-cmas-ebs-tca-accounts-sapi-console">
        <http:listener config-ref="ciena-cmas-ebs-tca-accounts-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ciena-cmas-ebs-tca-accounts-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\tcaaccounts:application\json:ciena-cmas-ebs-tca-accounts-sapi-config">
        <flow-ref doc:name="implemenation-upsert-ebs-api-call-flow" doc:id="07e1e4f2-557a-4b9f-938d-3469b236dd42" name="implemenation-upsert-ebs-api-call-flow" />
    </flow>
    <flow name="get:\health-check:ciena-cmas-ebs-tca-accounts-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "api is Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
